<!-- Header -->
<ion-header-bar class="bar-dark">
    <img class="logo_marvel" src="img/logo_marvel.png">
    <h1 class="title">Cómics</h1>
</ion-header-bar>
      
<!-- Sub-Header -->
<div class="bar bar-subheader item-input-inset bar-light">
    <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" ng-model="busqueda" placeholder="Buscar">
    </label>        
</div>

<!-- Contenido -->
<ion-content class="has-subheader" ng-controller="MarvelController">
    <ion-list>
        <a class="item item-thumbnail-left item-text-wrap" ng-repeat="comic in comics | filter: busqueda">
	        <img ng-src="{{comic.thumbnail}}" />
    	    <h2>{{comic.title}}</h2>
        	<h3>{{comic.year}}</h3>
        	<p>
            	{{comic.description | limitTo: 120}}
            	{{comic.description.length > 120 ? '&hellip;' : ''}}
        	</p>
        </a>
    </ion-list>
</ion-content>
